.navbar-default {
  background-color: #080808;
  color: #f5f5f5;
}
.footer {
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #080808;
  color: #f5f5f5;
  text-align:center;
}
p.notice {
  font-size: 50%;
}
.icon {
  width:40px;
  height:40px;
}

