body {
  width:300px;
}
.navbar-header {
  text-align: center;
}
.save-button {
  text-align:center;
}

.footer a {
  cursor:pointer;
}

.fotouploader-inline {
  display: inline-block;
  vertical-align: bottom;
}

.version {
  font-size: 80%;
  text-align: right
}

.help {
  text-align: center;
  font-size: 50%;
}
